@import url("https://fonts.google.com/specimen/Delius?categoryFilters=Feeling:%2FExpressive%2FCute");
     @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    body {
      margin: 0;
      font-family:Dancing script;
      background: #d4c2c2;
      color: #333;
      scroll-behavior: smooth;
    }

    /* Header */
    header {
      background: black;
      color: white;
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 1000;
      font-family:Dancing script;
    }
    header h1 {
      font-size: 24px;
    }
    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
      font-size: 20px;
    }
    nav a:hover {
      color: #f39c12;
    }

    /* Hero Section */
    .hero {
      background-image: url('https://t3.ftcdn.net/jpg/02/96/19/88/360_F_296198884_iJvPPEL8ACqJETMHn6bs4cNmHv54MGMv.jpg');    
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      cursor: pointer;
    }
    .hero h2 {
      font-size: 40px;
      background: rgba(0,0,0,0.5);
      padding: 15px 30px;
      border-radius: 8px;
    }
    .modal-cart-btn{
        margin-top: 8px;
        padding: 8px 15px;
        background: black;
        color: white;
        border: none;
        border-radius: 6px;
        cursor:pointer;
    }
    .modal-cart-btn:hover{
        background: #997b4a;
    }
    #cartCount{
        font-size: 16px;
        margin-left:10px
    }

    /* Sections */
    section {
      padding: 60px 20px;
    }
    section h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 28px;
    }

    /* Shop Section */
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
      gap: 20px;
    
    }
    .product {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      transition: transform 0.3s;
      text-align: center;
      padding-bottom: 10px;
      font-size: 20px;
    }
    .product:hover {
      transform: scale(1.05);
    }
    .product img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .product h3 {
      margin: 10px 0;
    }
    .product p {
      color: #555;
      font-size: 14px;
      margin-bottom: 10px;
    }

    /* About Section */
    .about {
      max-width: 800px;
      margin: auto;
      text-align: center;
      font-size: 18px;
      line-height: 1.6;
      font-size: 30px;
      background-color: #977c51;
      letter-spacing: 2px;
      color: #ccc;
      padding: 20px;
        border-top-left-radius: 50px;
        border-top-right-radius: 30px;
    }

    /* Contact Section */
    .contact {
      max-width: 600px;
      margin: auto;
      text-align: center;
      font-family:Dancing Script;
      cursor: pointer;
      font-size: 30px;
      
    }
    .contact form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      cursor: pointer;
      border: none;
      outline: none;
    }
    .contact input, .contact textarea {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
      width: 100%;
      border: none;
      outline: none;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .contact button {
      padding: 12px;
      background: black;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      width: 105%;
    }
    .contact button:hover {
      background: #997b4a;
    }
    /* ===== Product Modal ===== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 3000;
}

.modal-content {
  background: #fff;
  width: 85%;
  max-width: 900px;
  margin: 70px auto;
  padding: 25px;
  border-radius: 12px;
  animation: pop 0.4s ease;
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close {
  float: right;
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.modal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 20px;
}

.modal-grid div {
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 10px;
}

.modal-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

    /* Footer */
    footer {
      background: #222;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 30px;
      font-family:Dancing Script;
      font-size: 20px;
    }